.jumbotron {
    background-color: #313947;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.employee-card {
    margin-left: 5px;
    margin-right: 5px;
}

.card-header {
    background-color: #D5E6E4;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 70px;
}

h2 {
    font-family: 'Staatliches', cursive;
    font-size: 45px;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

.list-group-item {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}